html {
  scroll-behavior: smooth;
  font-family: 'Courier New', monospace;
  font-size: 1.2rem;
}

h1,
h3 {
  color: #da3a0a;
}

h2{
  color: #0079e4 ;
}

body {
  padding: 0 200px;
}

pre {
  border: solid 1px;
  display: block; /* Cambiamos a bloque para que ocupen toda la anchura disponible */
  padding: 5px;
  white-space: pre-wrap; /* Ajusta el texto manteniendo los espacios y saltos de línea */
  box-sizing: border-box; /* Incluye padding y borde en el ancho y alto */
  background-color: rgb(0, 14, 56);
  color: rgb(255, 255, 255);
}

/*Aperturas y cierres*/
